<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Uncommon Names</title>

		<style>
			@import url("https://rsms.me/inter/inter.css");
			html {
				font-family: "Inter", sans-serif;
			}
			@supports (font-variation-settings: normal) {
				html {
					font-family: "Inter var", sans-serif;
				}
			}

			* {
				appearance: none;
			}

			body {
				text-align: center;
				background-color: #222;
				color: #ddd;
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			p {
				font-size: 20px;
			}

			input[type="number"] {
				-moz-appearance: textfield;

				background: #222;
				border: none;
				border-bottom: solid thin #ddd;
				color: #ddd;
				font-size: 20px;
				width: 60px;
				display: inline;
				text-align: center;
			}

			select {
				background: transparent;
				color: #ddd;
				border: solid thin #ddd;
				border-radius: 10px;
				font-size: 16px;
				padding: 3px;
			}

			button {
				color: #ddd;
				padding: 10px;
				background: transparent;
				border: solid thin #ddd;
			}

			.big {
				font-size: 32px;
				border-radius: 10px;
			}

			.tab {
				border: none;
				border-bottom: solid thin #aaa;
				border-radius: 0;
				margin: 10px;
				font-size: 16px;

				color: #aaa;

				transition: color 250ms;
			}

			.year {
				font-size: 14px;
				margin: 2px;

				transition: all 0.5s;
			}

			.year.selected {
				color: #222;
				background: #ddd;
			}

			.active {
				color: #ddd;
				border-bottom: solid thin #ddd;
			}

			.uses {
				color: #888;
			}

			.uses::selection {
				background: #ddd;
				color: #666;
			}

			.M {
				color: #bbf;
			}

			.F {
				color: #fbb;
			}

			.M::selection {
				background: #bbf;
				color: #222;
			}

			.F::selection {
				background: #fbb;
				color: #222;
			}

			/* This is really bad code */

			.M.a5 {
				text-shadow: 0 0 1px #bbf;
			}
			.M.a6 {
				text-shadow: 0 0 2px #bbf;
			}
			.M.a7 {
				text-shadow: 0 0 3px #bbf;
			}
			.M.a8 {
				text-shadow: 0 0 4px #bbf;
			}
			.M.a9 {
				text-shadow: 0 0 5px #bbf;
			}
			.M.a10 {
				text-shadow: 0 0 6px #bbf;
			}
			.M.a11 {
				text-shadow: 0 0 7px #bbf;
			}
			.M.a12 {
				text-shadow: 0 0 8px #bbf;
			}
			.M.a13 {
				text-shadow: 0 0 9px #bbf;
			}
			.M.a14 {
				text-shadow: 0 0 10px #bbf;
			}

			.F.a5 {
				text-shadow: 0 0 1px #fbf;
			}
			.F.a6 {
				text-shadow: 0 0 2px #fbf;
			}
			.F.a7 {
				text-shadow: 0 0 3px #fbf;
			}
			.F.a8 {
				text-shadow: 0 0 4px #fbf;
			}
			.F.a9 {
				text-shadow: 0 0 5px #fbf;
			}
			.F.a10 {
				text-shadow: 0 0 6px #fbf;
			}
			.F.a11 {
				text-shadow: 0 0 7px #fbf;
			}
			.F.a12 {
				text-shadow: 0 0 8px #fbf;
			}
			.F.a13 {
				text-shadow: 0 0 9px #fbf;
			}
			.F.a14 {
				text-shadow: 0 0 10px #fbf;
			}

			img {
				margin-left: 3px;
				filter: brightness(50%);
				cursor: pointer;
			}

			input[type="text"] {
				color: #eee;
				background: #222;
				border: solid thin #eee;
				border-radius: 10px;
				padding: 5px;

				outline: none;

				margin-left: 5px;
				margin-right: 5px;
			}

			#searchFilter {
				margin-left: 5px;
			}

			#searchBtn {
				padding: 5px;
				border-radius: 10px;
			}

			.thinking {
				animation: thinking 1s ease-in-out infinite;
			}

			@keyframes thinking {
				0% {
					opacity: 100%;
				}

				50% {
					opacity: 0%;
				}

				100% {
					opacity: 100%;
				}
			}

			a {
				color: #bbf;
			}

			a:visited {
				color: #fbf;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div v-if="false">
				<h1>Loading...</h1>
			</div>
			<div style="display: none" :style="{ display: 'block' }">
				<p>
					<button
						:class="{ tab: true, active: tab == 'year' }"
						@click="tab = 'year'"
					>
						Year
					</button>
					<button
						:class="{ tab: true, active: tab == 'main' }"
						@click="tab = 'main'"
					>
						Main
					</button>
					<button
						:class="{ tab: true, active: tab == 'book' }"
						@click="tab = 'book'"
					>
						Bookmarked
					</button>
					<button
						:class="{ tab: true, active: tab == 'find' }"
						@click="tab = 'find'"
					>
						Search
					</button>
					<button
						:class="{ tab: true, active: tab == 'about' }"
						@click="tab = 'about'"
					>
						About
					</button>
				</p>

				<div v-if="tab === 'year'">
					<h1>You are looking at the year {{ year }}</h1>
					<p>
						Want to get names from a different year? Pick one from
						this list.
					</p>

					<div style="max-width: 580px; margin: auto">
						<!-- I don't want to spend the time hardcoding exceptions for these years -->
						<!-- So they go here-->
						<div style="margin-left: auto; width: max-content">
							<button
								@click="year = 2021"
								:class="{ year: true, selected: year === 2021 }"
							>
								2021
							</button>
							<button
								@click="year = 2020"
								:class="{ year: true, selected: year === 2020 }"
							>
								2020
							</button>
						</div>
						<button
							v-for="yearEl in yearList"
							@click="year = yearEl"
							:class="{ year: true, selected: year === yearEl }"
						>
							{{ yearEl }}
						</button>
					</div>
				</div>

				<div v-if="tab === 'main'">
					<h1>Uncommon Baby Names</h1>
					<p>
						This is a list of
						<input type="number" v-model="amount" /> baby name{{
						amount === 1 ? "" : "s" }} that have been used between
						<input
							type="number"
							v-model="min"
							@change="validateMin"
						/>
						and
						<input
							type="number"
							v-model="max"
							@change="validateMax"
						/>
						times in the year <span style="text-decoration:underline" @click="tab = 'year'">{{ year }}</span>.<br /><br />
						Gender:
						<select v-model="gender">
							<option value="Either">Either</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</p>
					<button class="big" @click="getName()">
						Get name{{ amount === 1 ? "" : "s" }}
					</button>

					<div>
						<p
							v-for="name in names"
							:class="{ [name[1]]: true, ['a' + Math.floor(Math.log2(name[2]))]: true }"
						>
							{{ name[0] }}
							<span class="uses"
								>({{ name[2].toLocaleString() }} uses)</span
							>

							<img
								@click="bookmark(...name, year)"
								:src="bookmarked(...name, year) ? 'unbookmark.svg' : 'bookmark.svg'"
								alt="Bookmark"
							/>
						</p>
					</div>

					<button
						v-if="names.length >= 50"
						class="big"
						@click="getName(true)"
					>
						MORE!
					</button>
				</div>

				<div v-if="tab === 'book'">
					<p
						v-for="name in bookmarks"
						:class="{ [name[1]]: true, ['a' + Math.floor(Math.log2(name[2]))]: true }"
					>
						{{ name[0] }}
						<span class="uses"
							>({{ name[2].toLocaleString() }} uses in {{ name[3]
							}})</span
						>

						<img
							@click="bookmark(...name, year)"
							:src="bookmarked(...name, year) ? 'unbookmark.svg' : 'bookmark.svg'"
							alt="Bookmark"
						/>
					</p>
					<p v-if="bookmarks.length === 0">
						You don't have any bookmarked names.
					</p>
				</div>

				<div v-if="tab === 'find'">
					<div v-if="fullDownloaded">
						<select v-model="fullGender">
							<option value="Either">Either</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>

						<select v-model="fullFilter" id="searchFilter">
							<option value="eq">Exact Match</option>
							<option value="includes">Name includes</option>
							<option value="startsWith">Name starts with</option>
							<option value="endsWith">Name ends with</option>
						</select>
						<input
							type="text"
							v-model="fullSearch"
							placeholder="Enter a name!"
						/>
						<button id="searchBtn" @click="searchFull()">
							Search
						</button>

						<div v-if="thinking" class="thinking">Loading...</div>

						<div v-if="fullResults.length >= 100_000 && !powerMode">
							There were over 100,000 results. Are you sure you
							want to load them all?<br />
							<button @click="powerMode = true">Yes</button>
						</div>
						<div v-else-if="fullResults.length === 0">
							<br />No results found.<br />If a name was used
							fewer than 5 times in a year, it can't be included.
							:(
						</div>
						<div v-else>
							<br />We found {{ fullPeople }} people.
							<p
								v-for="name in fullResults"
								:class="{ [name[1]]: true, ['a' + Math.floor(Math.log2(name[2]))]: true }"
							>
								{{ name[0] }}
								<span class="uses"
									>({{ name[2].toLocaleString() }} uses in {{
									name[3] }})</span
								>

								<img
									@click="bookmark(...name)"
									:src="bookmarked(...name) ? 'unbookmark.svg' : 'bookmark.svg'"
									alt="Bookmark"
								/>
							</p>
						</div>
					</div>
					<div v-else>
						To search the full database, you need to download the
						full database.<br />
						It's only 20MB, and you'll only need to download it
						once.<br />
						It might not be the best idea to do this is you have
						limited cellular data. You should be fine in any other
						scenario.<br />
						<br />
						<button class="big" @click="downloadFull()">
							Download
						</button>
						<br />
						<span v-if="fullDownloadState" class="thinking"
							>{{ fullDownloadState }}</span
						>
						<br />
						<span class="uses"
							>You'll need to redownload it if you reload the
							page.</span
						>
					</div>
				</div>

				<div v-if="tab === 'about'">
					<h1>Uncommon Baby Names</h1>
					<p>
						Made w/ &lt;3 by Yhvr<br />
						Inspired by r/NameNerdCircleJerk<br />
					</p>
					<h2>Why?</h2>
					<p>It's funny.</p>
					<h2>How?</h2>
					<p>
						Vue.js and a couple hundred lines of code in total.<br />
						<a
							href="https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-data/resource/746392ff-35f6-446d-9bf5-a611011ee3f8"
							>Data Source</a
						>
						| <a href="data">Peek around at the data</a>
					</p>
					<h2>Limitations</h2>
					<p>
						First off, there's millions of people, so there's
						millions of names. After I compressed it, the entire
						dataset was still ~20MB. That means it's not only big to
						download, but it can also take several seconds to search
						through it all in the "search" tab. Also, for privacy
						reasons, it only includes names used more than 5 times
						in a year. So, I guess you miss out on the funniest
						ones. Oh well. :(
					</p>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
		<script src="https://unpkg.com/vue@3"></script>
		<script src="index.js"></script>
	</body>
</html>
